// We can delete this later and use p-c breakpoints
$breakpoints: (
  "tablet": 650px,
  "desktop": 992px,
  "hd": 1280px,
) !default;

@mixin breakpoint($break) {
  @if map-has-key($map: $breakpoints, $key: $break) {
    @media only screen and (min-width: map-get($breakpoints, $break)) {
      @content;
    }
  } @else if $break == small {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}

@mixin SourceSansPro-font {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
}

@mixin SourceSansPro-light {
  @include SourceSansPro-font();
  font-weight: 300;
}

@mixin SourceSansPro-regular {
  @include SourceSansPro-font();
  font-weight: 400;
}

@mixin SourceSansPro-semiBold {
  @include SourceSansPro-font();
  font-weight: 600;
}

@mixin SourceSansPro-bold {
  @include SourceSansPro-font();
  font-weight: 700;
}

@mixin button {
  border: 0;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-weight: 700;
  font-size: var(--text-normal);
  border-radius: 8px;
  cursor: pointer;
}
