@use "../../styles/mixins";

.Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color_background__white);
  position: relative;

  @include mixins.breakpoint("tablet") {
    flex-direction: row;
  }

  &_badge {
    background: var(--color_background__white);
    font-size: var(--text-small);
    color: var(--color_font__dark);
    letter-spacing: 0.8px;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0.5rem;
    text-transform: uppercase;
    @include mixins.SourceSansPro-semiBold;

    &__accentColor {
      width: 5px;
      height: 100%;
      top: 0;
      left: -5px;
      position: absolute;
    }
  }

  &_imageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__image {
      height: 200px;

      & img {
        width: 100%;
        height: 100%;
      }

      @include mixins.breakpoint("tablet") {
        height: 100%;
      }
    }
  }

  &_details {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;

    &__eyebrow {
      @include mixins.SourceSansPro-semiBold;
      font-size: var(--text-small);
      // this is what the mock has but it is not accesible - Contrast Ratio 3.54:1
      // Hence the filter
      color: var(--color_font__light);
      filter: brightness(0.7);
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    &__city {
      @include mixins.SourceSansPro-bold;
      font-size: var(--text-large);
      letter-spacing: -0.3px;
      text-align: left;
      margin: 0.5rem 0 0.3rem 0;
    }
    &__date {
      @include mixins.SourceSansPro-bold;
      font-size: var(--text-normal);
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &__description {
      color: var(--color_font__dark);
      font-size: var(--text-med);
      line-height: 28px;
    }
    &__button {
      color: var(--color_font__black);
      @include mixins.button;
    }
  }
}
