@use "../../styles/mixins";

.Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--color_background__white);
  position: relative;

  @include mixins.breakpoint("tablet") {
    flex-direction: row;
  }

  &_badge {
    background: var(--color_background__white);
    font-size: 14px;
    color: var(--color_font__dark);
    letter-spacing: 0.8px;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;

    &__accentColor {
      width: 5px;
      height: 100%;
      top: 0;
      left: -5px;
      position: absolute;
    }

    // ******
    //  THIS COULD BE A DIFFERENT SOLUTION
    //********

    // span {
    //   margin-left: 10px;
    // }

    // &::before {
    //   content: "";
    //   background: #f7b500;
    //   width: 10px;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   position: absolute;
    // }
  }

  &_imageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__image {
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @include mixins.breakpoint("tablet") {
        height: 100%;
      }
    }
  }

  &_details {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;

    &__eyebrow {
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--color_font__light);
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    &__city {
      font-size: 1.875rem;
      font-weight: 700;
      letter-spacing: -0.3px;
      text-align: left;
      margin: 0.5rem 0 0.3rem 0;
    }
    &__date {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &__description {
      font-size: 1.125rem;
      line-height: 28px;
    }
    &__button {
      color: var(--color_background__white);
      border: 0;
      padding: 0.5rem;
      width: 50%;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}
